.app-content-fade-in {
    animation: fadeIn 1s ease-out forwards;
    opacity: 0;
    min-height: 100vh;
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.98);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}